<ons-page ng-controller="ConfigController">
    
    <ons-toolbar>
		<div class="left"><ons-back-button>Voltar</ons-back-button></div>
		<div class="center">Configurações</div>
		<div class="right">
		<ons-toolbar-button ng-click="VoltaTopo()">
		<ons-icon icon="fa-home"></ons-toolbar-button></div>
	</ons-toolbar>

	<ons-list-item modifier="tappable" ng-click="AtualizaBanco()">
		<ons-row>
			<ons-col>
			    <section>
				<span><ons-icon icon="fa-download" ></ons_icon></span>
				Registros no banco de dados local: {{ contaregistros}}
				</ons-col>
                </section>
			</ons-col>						
		</ons-row>
	</ons-list-item>
	
	<ons-list-item  >
		<ons-row>
			<ons-col>
			    <section>
				<span>Online/Offline  </span>
				<input type=checkbox ng-model="offline2" ng-click="verificaoffline()"> - 
				
				<label class="checkbox">
				  <input type="checkbox" ng-model="chkoffline" ng-click="verificaoffline()"> {{statusconexao}}
					<div class="checkbox__checkmark"></div>
					<span class="ons-checkbox-inner"></span>
				 </label>
				 
				</ons-col>
                </section>
			</ons-col>						
		</ons-row>
	</ons-list-item>
	
	
	<br><center>
	<button class="button" ng-click="AtualizaBanco()"><span><ons-icon icon="fa-download" ></ons_icon></span>
		Baixar BD Checklist
	</button>
	<div> Atualizando {{conta_atualizando}} </div>
	
	</center>
	


	
	
</ons-page>

