<?xml version='1.0' encoding='utf-8'?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
		id="nrx.app.id" 
		version="1.0.3">

	<gap:config-file platform="android" parent="/manifest">
     <application android:debuggable="true" />
	</gap:config-file>
	
	
    <name>NRX3 2.06 </name>
	<icon src="icon.png" />
    <description>
    NRX3
    </description>

	<author href="http://chamagar.com" email="guilhermecampos100@gmail.com">
        Guilherme de Oliveira Campos
    </author>

    <preference name="phonegap-version" value="3.7.0" /> 

    <access origin="*" />
	
	<gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.core.camera" />
	<gap:plugin name="com.brodysoft.sqliteplugin" version="1.0.6" />
	<gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
	<gap:plugin name="com.sharinglabs.cordova.plugin.cache" version="1.0.0" />

</widget>