<ons-page ng-controller="SecoesController">
    
    <ons-toolbar>
    <div class="left"><ons-back-button>Voltar</ons-back-button></div>
    <div class="center">{{secaoPai.descricao}}</div>
	<div class="right"><ons-toolbar-button ng-click="VoltaTopo()">
	<ons-icon icon="fa-home"></ons-toolbar-button></div>
	</ons-toolbar>

<style>
.lista_amarela {
  background-color: gold;
  width=100%;
  height=100%;
  
}


</style>
	
	<ons-list >
	<ons-list-item modifier="chevron" class="{{classelista(secao.tipo)}}" ng-repeat="secao in secoes" ng-click="showDetail($index)">
		<ons-row>
			<ons-col width=10%>
			    <section>
				<span ng-show="secao.tipo == 'secao'"><ons-icon icon="fa-folder-o" ></ons_icon></span>
				<span ng-show="secao.tipo == 'item'" style="color:{{coricone(secao.codigo)}}"><ons-icon icon="{{icone(secao.codigo)}}" ></ons_icon></span> 
				
				<span ng-show="tem_obs(secao.codigo)" style="font-size:10px; color=#1284ff;"><ons-icon icon="fa-comment" ></ons_icon></span>
				<span ng-show="tem_foto(secao.codigo)" style="font-size:10px; color=#1284ff;"><ons-icon icon="fa-camera" ></ons_icon></span>
                </section>
			</ons-col>
			<ons-col width=80%>
			    <section>
				<span ng-show="secao.tipo == 'secao'"><b>{{secao.codigo}} - {{secao.descricao}}</b></span>
				<span ng-show="secao.tipo == 'item'">{{secao.codigo}} - {{secao.descricao}}</span>
				
				
                </section>
			</ons-col>		
			<ons-col width=10%>
			    <section>
			
                </section>
			</ons-col>						
		</ons-row>
	</ons-list-item>
	
	
</ons-page>

